@import url(main.css);
.alergenos {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.alergenos__h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.alergenos__h4 {
    padding-bottom: 30px;
}
.alergenos__lista {
    display: flex;
    justify-content: space-around;
}
.alergenos__lista li {
    list-style: decimal;
}
    