@import url(main.css);

.galeria-inicio {
  position: relative;
    width: 100%;
    padding-top: 5px;
    display: grid;
    grid-template-rows: repeat(2, 320px);
    position: relative;
    padding-top: 200px;
    background-color: var(--third-color-alpha);
}

.galeria__title {
  border-bottom: 2px solid var(--second-color);
}

.galeria__info {
  position: absolute;
  top: 50px;
  left:100px
}

.galeria-inicio__row {
    display: flex;
}

.galeria-inicio__item {
    display: inline-block;
    width: 100px;
    position: relative;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in;
    overflow: hidden;
}

.galeria-inicio__item--1 {
    background-image: url(../img/foto-galeria-arroz-caldoso-boletus.jpg);
}
.galeria-inicio__item--2 {
    background-image: url(../img/foto-galeria-paella-pollo.jpg);
}
.galeria-inicio__item--3 {
    background-image: url(../img/foto-galeria-paella-valenciana.jpg);
}
.galeria-inicio__item--4 {
    background-image: url(../img/foto-galeria-paella-vegetal.jpg);
}
.galeria-inicio__item--5 {
    background-image: url(../img/foto-galeria-rape.jpg);
}
.galeria-inicio__item--6 {
    background-image: url(../img/foto-galeria-risotto-bogavante.jpg);
}
.galeria-inicio__item--7 {
    background-image: url(../img/foto-galeria-risotto-parmesana.jpg);
}
.galeria-inicio__item--8 {
    background-image: url(../img/foto-galeria-solomillo-pimienta.jpg);
}

.galeria-inicio__item:hover {
    flex: 1.5;
}

.galeria-inicio__item:hover .blur-bg {
    display: block
}

.blur-bg {
    width: 100%;
    height: 100%;
    padding: 1.8rem 4rem 2rem 4rem;
    background-color: var(--black-alpha-color-plus);
}

.galeria-inicio__title {
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid var(--white-color);
    font-family: var(--font-lasoka);
    font-size: 3rem;
}

.galeria-inicio__link {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.galeria-inicio__precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    margin-right: 2rem;
}
