@import url(main.css);

.galeria-inicio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.galeria-inicio__item {
    position: relative;
}

.blur-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
    background-color: var(--black-alpha-color);
}