@import url(main.css);


.hero {
    width: 100%;
    height: 500px;
    display: grid;
    place-items: center;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hero--carta {
    background-image: url(../img/menubg@2x.jpg);
}

.hero--reservas {
    background-image: url(../img/blogbg.jpg);
}

.hero--blog {
    background-image: url(../img/bg-recomendacion.jpg);
}