@import url(main.css);
.header {
    background: url()
}

/*Menu principal Nav*/
header{
    width: 100%;
    background-color: var(--third-color-alpha);
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--third-color);
}

.navbar {
    color: var(--white-color);
    display: flex;
    align-items: center;
    background-color: var(--third-color);
    

}
.logo {
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 10px 0; 

}
.navbar__text {  
    padding: 10px;
    font-size: 24px;
    padding: 0 20px; 
}
.navbar__text__contact{
    padding-right: 120px;
}
.modal1{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar__text__modal1{
    position: absolute;
    top: -300%;  
    z-index: -1;
    background-color: var(--third-color);
    width: 249px;
    height: 151px;
    transition: all 0.4s;
}
.modal1:hover .navbar__text__modal1{
    top: 100%;
}


.ws{
    white-space: nowrap;
    z-index: 2;

}
.modal2{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar__box2{
    position: absolute;
    top: 100%;  
    z-index: -1;
    right: -300%;
    padding: 10px 40px;
    background-color: var(--third-color);
    height: 100vh;
    transition: all 0.4s;
}
.modal2:hover .navbar__box2{
    right: 0;
}
/*Cambio color menu nav*/
.navbar__text:hover {
    color: var(--second-color);
    text-decoration: underline;
}

.logoimg{
    width: 40px;
    display: flex;
    background-color: var(--third-color);
}

/*Genrerales*/
.font1{
    font-family: var(--font-lasoka);
}
.font2{
    font-family: var(--font-howli);
}
.font3{
    font-family: var(--font-alegreya);
    font-style: italic;
    font-size: 11px;
}



/*Logo principal*/
.navbar__box2__logo{ 
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}
/*Cuadros de texto*/
.navbar__box2__text{
    padding-bottom: 20px;
    padding-top: 5px;
    border-bottom: 2px solid white;
    text-align: center;
}
/*Logos de redes sociales*/
.navbar__box2__logoredes{
    display: flex;
    justify-content: flex-end;
    background-color: var( --third-color);
    padding-top: 10px;
}