@import url(main.css);
.header {
    background: url()
}
.navbar {
    background-color: var(--third-color-alpha);
    color: var(--white-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    position: absolute;
    width: 100%;
}
.logo {
    width: 100%;

}
.navbar__text1 {    


}
.mb {
    border: 2px solid blue;
}
.mr {
    border: 1px solid red;
}